extends layout

block content
  h1 Waste Collection Notification System
  p.lead Get a simple notification via SMS or email when it's time to put the bins out.
  hr
  .row
    .col-md-6
      h2 New User?
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-primary(href='/signup', role='button') Create an Account »
    .col-md-6
      h2 Existing Account
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='/login', role='button') Login »